<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Let's Create A Post!</h1>
    <form method="post" action="/posts">
      Post name: <input type="text" name="name" />
      <br />
      Post content: <input type="text" name="content"/>
      <br />
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>
