

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/posts" method="post">
      <input type="text" placeholder="name" name="name">
      <input type="text" placeholder="content" name="content">
      <input type="submit" value="submit">
    </form>

  </body>
</html>
