<h1>Title</h1>

<form method="post" action="/posts">

  <p>Title: <input id="name" type="text" name="post[][title]"></p>
  <p>Content: <input id="content" type="text" name="post[][content]"></p>
  <input id="submit" type="submit" value="Submit">

</form>
