<h1>create a bloggg1!!!<h1>
<form method="post" action="/posts">
  <h2>Post Name:<input type="text" name="name"></h2>
  <h2>Post Content:<input type="text" name="content"></h2>
  <input type="submit" value="submit">
</form>
