<form action="/posts" method="post">
  <label>Name: <input id="name" type="text" name="post[name]"/></label>
  <label>Content: <input id="content" type="text" name="post[content]"/></label>
  <button type="submit" value="submit">Submit</button>
</form>
