<h1><%= @post.name %></h1>
<h2><%= @post.content %></h2>

<form action="/posts/<%=@post.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
