<h1><%= "#{@post.name}" %></h1>
<p><%= "#{@post.content}" %></p>

<form method="post" action="/posts/<%= @post.id %>/delete">
  <input id="delete" type="submit" value="DELETE">
  <input id="hidden" type="hidden" name="_method" value="delete">
</form>
