<p><%= @post.name %></p>
<p><%= @post.content %></p>

<form class="" action=<%="/posts/#{@post.id}/delete"%> method="post">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type="text" name="" value= <%= @post %>>
	<input type="submit" name="" value="submit" id="delete">
</form>
